# Väljaminevad (vea)teated serveritest HES ja HTS.
# NB!
#	* Teated peavad olema UTF-8 kodeeringus.
#	* Võtmesõnu muuta ei tohi
#	* Sümbolipaare "%s", mis asendatakse dünaamilise tekstiga
#	  võib teates ringi tõsta, kuid neid ei tohi sealt välja 
#	  jätta ega juurde lisada.



[VERIFICATION_ERRORS]

# Error message shown when the query had too many or unknown parameters
BAD_PARAMETERS=Vigased sisendparameetrid

# The verification vote ID has expired, reached it's maximum count or is otherwise invalid
INVALID_VOTE_ID=Seda hääle identifikaatorit ei saa kasutada hääle kontrollimiseks

# Error message given for internal errors during vore verification
TECHNICAL_ERROR_VOTE_VERIFICATION=Tehniline viga hääle kontrollimisel


# vim:set ts=4 sw=4 et fileencoding=utf8:
